<div class="main-header">
  <div class="main-chatname">Tom</div>
  <div class="main-delete-room">
    <a href="#">チャット終了</a>
  </div>
</div>
<div class="main-messages">
  <div class="main-message">
    <div class="main-message">
      <div class="main-message-name-date">
        <div class="main-message-name">
        Sho
        </div>
        <div class="main-message-date">
          2021/03/31(Wed)13:00:00
        </div>
      </div>
      <p>goodmorning</p>
    </div>
    <div class="main-message">
      <div class="main-message-name-date">
        <div class="main-message-name">
        吉田
        </div>
        <div class="main-message-date">
          2021/03/31(Wed)13:20:00
        </div>
      </div>
      <p>やあ</p>
    </div>
    <div class="main-message">
      <div class="main-message-name-date">
        <div class="main-message-name">
        Sho
        </div>
        <div class="main-message-date">
          2021/03/31(Wed)13:00:00
        </div>
      </div>
      <p>goodmorning</p>
    </div>
    <div class="main-message">
      <div class="main-message-name-date">
        <div class="main-message-name">
        吉田
        </div>
        <div class="main-message-date">
          2021/03/31(Wed)13:20:00
        </div>
      </div>
      <p>やあ</p>
    </div>
    <div class="main-message">
      <div class="main-message-name-date">
        <div class="main-message-name">
        Sho
        </div>
        <div class="main-message-date">
          2021/03/31(Wed)13:00:00
        </div>
      </div>
      <p>goodmorning</p>
    </div>
    <div class="main-message">
      <div class="main-message-name-date">
        <div class="main-message-name">
        吉田
        </div>
        <div class="main-message-date">
          2021/03/31(Wed)13:20:00
        </div>
      </div>
      <p>やあ</p>
    </div>
  </div>
</div>
<div class="main-form">
</div>
