<div class="side-header">
  <div class="side-user-name">
    <%= link_to current_user.name, edit_user_path(current_user), class: "side-user-name"%>
  </div>
  <div class="side-create-room">
    <%= link_to "チャットを作成する", new_room_path ,class: "side-create-room" %>
  </div>
</div>

<div class="side-chatrooms">
  <% current_user.rooms.each do |room| %>
    <div class="side-chatroom">
      <%= link_to room.name, room_messages_path(room), class: "side-chatroom"%>
    </div>   
  <% end %>
</div>
