/* main */
.wrapper{
  display: flex;
}
.main{
  background-color: #fff;
  width: calc(100vw - 300px);
  height: 100vh;
}
.main-header{
  height: 100px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-chatname{
  color: #333;
  font-size: 24px;
}
.main-delete-room a{
  color: darkred;
  font-size: 12px;
  border: 1px solid darkred;
  padding: 14px 36px;
  text-decoration: none;
}
.main-messages{
  background-color: #d1d0d0;
  height: calc(100vh - 100px - 90px); /* 190pxとしたら自分以外に見る人が何を表しているのかわからないのでこれにしておく */
  padding: 46px 40px 0px;
  overflow: scroll;
}
.main-message{
  padding-bottom: 40px;
}
.main-message-name-date{
  display: flex;
  padding: 10px 0px;
}
.main-message p{
  color: #434a54;
  font-size: 14px;
}
.main-message-name{
  margin-right: 10px;
}
.main-form{
  height: 90px;
  background-color: #b4b4b4;
  padding: 20px 40px;
  display: flex;
}
.main-form-input{
  width: 100%;
  background-color: white;
  margin-right: 10px;
  display: flex;
}
.form-message{
  color:#ddd;
  border: none;
  height: 50px;
  padding-left: 10px;
  width: 100%;
}
.form-submit{
  background-color: lightblue;
  border: none;
  font-size: 16px;
  color: white;
  height: 50px;
  padding: 0px 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.form-image:hover {
  background-color: rgb(79, 186, 221);
  transition: 0.5s;
}

.hidden {
  display: none;
}

/* side */
.side{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-header{
  height: 100px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-user-name{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.side-create-room{
  color: #fafafa;
  font-size: 10px;
  background-color: lightblue;
  border: 1px solid lightblue;
  padding: 12px 10px;
  text-decoration: none;
}
.side-chatrooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0px 20px;
}
.side-chatroom{
  padding: 20px 0px 40px 0px;
  color: #fafafa;
  text-decoration: none;
}
